// CSS normalize.css reset
@import "modules/normalize";
// Sprite mixins
@import "modules/sprite";
// Default project mixins
@import "modules/mixins";

.clearfix {
    @include clearfix();
}

//$information-phone: "only screen and (min-width : 320px) and (max-width : 568px)";
$information-phone: "only screen and (max-width : 568px)";
$information-tablet: "only screen and (min-width : 568px) and (max-width : 954px)";
$information-pc: "only screen and (min-width: 954px)";

@media #{$information-phone} { body { min-width: 320px; } }
@media #{$information-tablet} { }
@media #{$information-pc} { }

html { overflow-y: scroll; }
body { font-size: 12px; line-height: 1.5; background: #ffffff; }
body, button, input, select, textarea {
    @include typeface;
}
.page-wrap {
    @media #{$information-pc} {
        max-width: 924px; margin: 0 auto;
        & > aside {
            float: right; width: 255px;
        }
        & > div {
            width: 640px;
        }
    }
    @media #{$information-tablet} {
        padding: 0 64px;
        & > aside { }
        & > div { }
    }
    @media #{$information-phone} {
        padding: 0 15px;
        & > aside { background: #e1eefc; margin: 0 -15px;
            & > nav { overflow: hidden; padding: 0 10px; }
        }
        & > div {
            .blog-post:first-child { padding-top: 20px; padding-bottom: 24px; }
        }
    }
}

.btn { background: #000; color: #fff; padding: 8px; }

@import "partials/header";
@import "partials/page";
@import "partials/animation";
