<h4>Editing {{editArticleCtrl.article.title}}</h4>

<form class="edit-form" role="form" ng-submit="editArticleCtrl.updateArticle(editArticleCtrl.editedArticle)" novalidate>
    <div class="form-group">
        <label>Bookmark Title</label>
        <input type="text" class="form-control" ng-model="editArticleCtrl.editedArticle.title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label>Bookmark URL</label>
        <input type="text" class="form-control" ng-model="editArticleCtrl.editedArticle.image" placeholder="Enter URL">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Save</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="editArticleCtrl.cancelEditing()">Cancel</button>
</form>