/*** Main Column ***/

/*** Article ***/
.blog-post { padding-bottom: 44px; position: relative;
  h1 { font-size: 20px;
    a { color: #69747c; text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    @media #{$information-phone} { font-size: 18px; padding: 10px 0; margin: 0; }
  }
  figure {
    @media #{$information-phone} { background: #f4f5f6; text-align: center; }
  }
  img {
    @media #{$information-pc} { max-height: 230px; width: 100%; }
    @media #{$information-tablet} { width: 100%; }
    @media #{$information-phone} { width: 100%; }
  }
}

.blog-post-description {
  overflow: hidden; list-style: none; padding: 7px 0; border-top: 1px #e2e5e8 solid; border-bottom: 1px #e2e5e8 solid;
  li { float: left; margin-right: 22px; line-height: 24px; }
  @media #{$information-phone} { border-top: none; margin-top: 6px; }
}

.date, .author {
  &:before { display: block; content: ""; float: left; margin-right: 6px; margin-top: -1px; }
  & a { color: #69747c; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
.date {
  &:before { @include sprite($date); }
}
.author {
  &:before { @include sprite($author); }
}

.share-nav {
  overflow: hidden; list-style: none; margin: 0;

  li {
    @media #{$information-pc} { float: left; margin-left: 6px; }
    @media #{$information-tablet} { margin-bottom: 8px; overflow: hidden; }
    @media #{$information-phone} { display: inline-block; }

    a { display: block; color: #69747c;
      @media #{$information-tablet} { float: right; }
    }
  }
  @media #{$information-pc} { padding: 7px 0; }
  @media #{$information-tablet} { position: absolute; right: -64px; top: 0; }
  @media #{$information-phone} { text-align: center; padding-top: 14px; }
}


.i_fb { @include sprite($i_fb);
  &:hover { @include sprite($i_fb_hov); }
}
.i_gp { @include sprite($i_gp);
  &:hover { @include sprite($i_gp_hov); }
}
.i_tw { @include sprite($i_tw);
  &:hover { @include sprite($i_tw_hov); }
}
.i_vk { @include sprite($i_vk);
  &:hover { @include sprite($i_vk_hov); }
}
.i_od { @include sprite($i_od);
  &:hover { @include sprite($i_od_hov); }
}

/*** Right Column ***/

.hot-news {
  @media #{$information-pc} { padding-bottom: 20px; }
  @media #{$information-tablet} { padding-top: 28px; position: relative; }
  h2 {
    @media #{$information-pc} { margin-top: 0; border-bottom: 5px #6794b7 solid; line-height: 24px; color: #6290b4; text-transform: uppercase; font-weight: bold; }
    @media #{$information-tablet} { position: absolute; z-index: 20; bottom: 32px; background: #eef4fa; margin: 0; color: #6290b4; text-transform: uppercase;
      @include box-sizing(border-box);
      @include transform(rotate(-90deg));
      line-height: 28px;
      min-width: 140px;
    }
  }
  &.about-post, &.some-post  {
    h2 {
      @media #{$information-pc} { &:before { color: #ffffff; text-align: center; width: 30px; height: 24px; float: left; margin-right: 10px; background: #6794b7; } }
    }
  }
  &.about-post {
    h2 {
      @media #{$information-pc} { &:before { content: "?"; } }
      @media #{$information-tablet} { padding: 9px 10px 10px 20px; left: -111px; writing-mode: bt-lr; }
    }
    @media #{$information-tablet} { display: none;
      &.open { display: block; }
    }
    @media #{$information-phone} { display: none;
      h2 { display: none; }
      p { padding: 10px 15px; margin: 0; }
      &.open { display: block; padding-top: 15px; }
    }
  }
  &.some-post {
    h2 {
      @media #{$information-pc} { &:before { content: "!"; } }
      @media #{$information-tablet} { padding: 9px 10px 10px 10px; right: -110px; writing-mode: lr-tb; }
    }
    @media #{$information-tablet} { display: none;
      &.open { display: block; }
    }
    @media #{$information-phone} { display: none;
      h2 { display: none; }
      p { padding: 10px 15px; margin: 0; }
      &.open { display: block; padding-top: 15px; }
    }
  }
  @media #{$information-tablet} { h2 + p { margin-top: 0; } }
}

.tags-nav { list-style: none; overflow: hidden;
  li { float: left; margin-right: 4px; padding-right: 10px; margin-bottom: 6px; position: relative; z-index: 40;
    &:before { content: ""; width: 0; height: 0; margin-right: -9px; float: right; border-left: 9px #6794b7 solid; border-top: 9px transparent solid; border-bottom:  9px transparent solid; }
    &:after { content: ""; width: 8px; height: 8px; background: #ffffff; position: absolute; right: 8px; top: 50%; margin-top: -4px; z-index: 60;
      @include border-radius(100%);
    }
    a { display: block; background: #6794b7; padding: 0 18px 0 14px; text-decoration: none; color: #ffffff; }
    &:hover { cursor: pointer;
      &:before { border-left: 9px #b2d4ec solid; }
      a { background: #b2d4ec; }
    }
    &.active {
      &:before { border-left: 9px #b2d4ec solid; }
      a{ background: #b2d4ec;
      }
    }
  }

  @media #{$information-tablet} { margin: 28px 0 20px; }
  @media #{$information-phone} { display: none;
    &.open { display: block; }
  }
}

@media #{$information-phone} { ul.tags-nav.open { padding: 25px 15px 4px; margin: 0; } }

.icon-close { @include sprite($icon_close); float: right; margin-bottom: 10px; display: none; position: relative;
  &.open { display: block; }
  &.about-post:before, &.some-post:before { font-size: 15px; white-space: nowrap; position: absolute; top: 1px; right: 24px; color: #ffffff; text-transform: uppercase; }
  &.about-post:before { content: "About"; }
  &.some-post:before { content: "Some Shit"; }
}

/*** Loader ***/
.loader-wrap { min-height: 80px; position: relative; margin-bottom: 44px; }
.loader {
  border: 5px solid #96b5cf; height: 30px; left: 50%; margin: -15px 0 0 -15px; opacity: 0; position: absolute; top: 50%; width: 30px;
  @include border-radius(30px);
  @include animation(pulsate 1s ease-out);
  @include animation-iteration-count(infinite);
}

@include keyframes(pulsate) {
  0% {
    @include transform(scale(.1));
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    @include transform(scale(1.2));
    opacity: 0;
  }
}
