<form class="create-form" role="form" ng-submit="createArticleCtrl.createArticle(newArticle)" novalidate>
    <div class="form-group">
        <label for="newArticleImage">Bookmark URL</label>
        <input type="text" class="form-control" id="newArticleImage" ng-model="createArticleCtrl.newArticle.image" placeholder="Image URL">
    </div>
    <div class="form-group">
        <label for="newArticleTitle">Bookmark Title</label>
        <input type="text" class="form-control" id="newArticleTitle" ng-model="createArticleCtrl.newArticle.title" placeholder="Enter title">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="createArticleCtrl.cancelCreating()">Cancel</button>
</form>