<section class="blog-post"
         ng-repeat="article in articlesListCtrl.articles | filter:{category:articlesListCtrl.getCurrentCategoryName()}">
    <button type="button" class="btn"
            ui-sref="blog.categories.articles.edit({articleId:article.id})">EDIT</button>
    <button type="button" class="btn"
            ng-click="articlesListCtrl.deleteArticle(article)" >DELETE</button>
    <figure>
        <img ng-src="{{ article.image }}" alt=""/>
        <figcaption>
            <h1><a href="#">{{ article.title }}</a></h1>
        </figcaption>
    </figure>
    <ul class="blog-post-description">
        <li><span class="date">{{ article.date }}</span></li>
        <li><span class="author">by <a href="#">{{ article.author }}</a></span></li>
    </ul>
    <p>{{ article.text }}</p>
    <ul class="share-nav">
        <li><a href="#" class="i_fb"></a></li>
        <li><a href="#" class="i_gp"></a></li>
        <li><a href="#" class="i_tw"></a></li>
        <li><a href="#" class="i_vk"></a></li>
        <li><a href="#" class="i_od"></a></li>
    </ul>
</section>

<ui-view>
    <div ng-if="articlesListCtrl.getCurrentCategory()">
        <buttun type="button" class="btn"
                ui-sref="blog.categories.articles.create">
            Create New Article
        </buttun>
    </div>
</ui-view>